# Change to your own variables
# tenancy_ocid     = "YOUR_OWN_VALUE"
# compartment_ocid = "YOUR_OWN_VALUE"
# user_ocid        = "YOUR_OWN_VALUE"
# fingerprint      = "YOUR_OWN_VALUE"
# private_key_path = "YOUR_OWN_VALUE"
# region           = "YOUR_OWN_VALUE"


# Required information for Marketplace Image

product_name    = "fortiguest"
image_version   = "2.0.0"
instance_cpu    = 2
instance_memory = 16
instance_shape  = "VM.Standard.E4.Flex"

# Needs more time to complete the initialization, # Please wait for a while
# product_name  = "fortiaiops"
# image_version = "2.1.0"
# instance_cpu    = 2
# instance_memory = 16
# instance_shape  = "VM.Standard.E4.Flex"

# Needs more time to complete the initialization, # Please wait for a while
# product_name    = "fortimanager"
# image_version   = "7.6.2"
# instance_cpu    = 4
# instance_memory = 16
# instance_shape  = "VM.Standard.E3.Flex"

# Needs more time to complete the initialization, # Please wait for a while
# product_name    = "fortianalyzer"
# image_version   = "7.6.2"
# instance_cpu    = 4
# instance_memory = 16
# instance_shape  = "VM.Standard.E3.Flex"

# Please refer to /docs/generic_vm_standalone.md to find the correct values for mp_listing_id, source_id, and listing_resource_version.
# product_name             = "fortigate"
# listing_resource_version = "7.6.2_(_X64_)"
# mp_listing_id            = "ocid1.appcataloglisting.oc1..aaaaaaaam7ewzrjbltqiarxukuk72v2lqkdtpqtwxqpszqqvrm7likfnpt5q"
# source_id                = "ocid1.image.oc1..aaaaaaaas3kl6ynyigahrsiegwzesfub6nffiy6qxlrhs742p6ltvode257a"
# instance_cpu             = 2
# instance_memory          = 16
# instance_shape           = "VM.Standard.E3.Flex"
# license_fortiflex        = "YOUR_OWN_VALUE"
# license_path             = "YOUR_OWN_VALUE"

# Availability Domain
availability_domain = 1

# Network Configuration
vcn_cidr_blocks    = ["10.1.0.0/16"]
public_subnet_cidr = "10.1.0.0/24"

# Security List Configuration
custom_security_list_rules = {
  display_name = "custom-security-list"
  egress_security_rules = [
    {
      protocol    = "all"
      destination = "0.0.0.0/0"
    }
  ]
  ingress_security_rules = [
    {
      protocol  = "6"
      source    = "0.0.0.0/0"
      stateless = false
      tcp_options = {
        "max" = 443
        "min" = 443
      }
    },
    {
      protocol  = "6"
      source    = "0.0.0.0/0"
      stateless = false
      tcp_options = {
        min = 80
        max = 80
      }
    },
    {
      protocol  = "6" // tcp
      source    = "0.0.0.0/0"
      stateless = false
      tcp_options = {
        min = 22
        max = 22
      }
    },
    {
      protocol  = "17" // udp
      source    = "0.0.0.0/0"
      stateless = false
      udp_options = {
        min = 1812
        max = 1812
      }
    },
    {
      protocol  = "17" // udp
      source    = "0.0.0.0/0"
      stateless = false
      udp_options = {
        min = 1813
        max = 1813
      }
    },
    {
      protocol  = "1" // icmp
      source    = "0.0.0.0/0"
      stateless = false
    }
  ]
}

tag = {
  "Environment" = "test"
}
